<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access Denied</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #1b1b1b;
            text-align: center;
            padding: 50px;
        }

        h1 {
            color: #dc3545;
        }

        p {
            color: #ffffff;
            font-size: 18px;
            margin-bottom: 30px;
        }

        a {
            text-decoration: none;
            background-color: #31cece;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            font-weight: bold;
            transition: background-color 0.3s;
        }

        a:hover {
            background-color: #77da07;
        }
    </style>
</head>
<body>
    <h1>Access Denied</h1>
    <p>You cannot access this page because you are not a Doctor.</p>
    <a href="/api/v1/admin/updateDoctorRole" target=_blank">Click here for updating role as Admin</a>
</body>
</html>
